# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Home Assistant
config/
*.db
*.db-shm
*.db-wal
*.log
.storage/
core.*

# VS Code & OS
.vscode/
.DS_Store
Thumbs.db
.devcontainer/local_settings.json

# Integration spezifisch
custom_components/openligadb/.pytest_cache/